  
<h1>Login!</h1><br>

<form action="/sessions" method="post">
  <label class = "font-size-20" for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br><br>
   <label class = "font-size-20" for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>
  <button type="button"><input type="submit" value="login!"></button>
</form>