
<form action="/exercises" method="post">
  <input type="hidden" name="workout_id" value="<%= @workout.id %>">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="reps">Reps:</label><br>
  <input type="number" id="reps" name="reps"><br>
  <label for="sets">Sets:</label><br>
  <input type="number" id="sets" name="sets"><br>
  <label for="minutes">Minutes:</label><br>
  <input type="number" id="minutes" name="minutes"><br>
  <input type="submit" value="create exercise">
</form>